Repository S-FAM/PyeonHaeng, pull requests merged in 2022-10, with the labels that each got.

#9 Assets에 편의점 로고 이미지 추가
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_7eleven.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_7eleven.imageset/logo_7eleven 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_7eleven.imageset/logo_7eleven 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_7eleven.imageset/logo_7eleven.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_cu.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_cu.imageset/logo_cu 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_cu.imageset/logo_cu 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_cu.imageset/logo_cu.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_emart24.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_emart24.imageset/logo_emart24 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_emart24.imageset/logo_emart24 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_emart24.imageset/logo_emart24.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_gs25.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_gs25.imageset/logo_gs25 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_gs25.imageset/logo_gs25 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_gs25.imageset/logo_gs25.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_ministop.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_ministop.imageset/logo_ministop 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_ministop.imageset/logo_ministop 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_ministop.imageset/logo_ministop.png
Labels: enhancement

#13 Feat/home vc/touch event
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS.xcodeproj/project.xcworkspace/xcuserdata/eungcheol.xcuserdatad/UserInterfaceState.xcuserstate
  PPAK_CVS/Sources/Scenes/Common/CVSDropdownView.swift
  PPAK_CVS/Sources/Scenes/Common/FilterDropdownView.swift
  PPAK_CVS/Sources/Scenes/Common/PageControl.swift
  PPAK_CVS/Sources/Scenes/Home/HomeCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
Labels: 🏠Home

#15 제품 세부 페이지 와이어프레임 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCoordinator.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
Labels: 🍎ConfigureUI, 📱Product

#16 [ADD] Preview code
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Configuration/Extensions/Preview.swift
Labels: ✨enhancement

#17 Feat/bookmark vc/UI
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS.xcodeproj/project.xcworkspace/xcuserdata/eungcheol.xcuserdatad/UserInterfaceState.xcuserstate
  PPAK_CVS/Configuration/Assets/Assets.xcassets/bookmark_info.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/bookmark_info.imageset/eva_info-outline.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/bookmark_info.imageset/eva_info-outline@2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/bookmark_info.imageset/eva_info-outline@3x.png
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkCoordinator.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkVC.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkViewModel.swift
Labels: 🍎ConfigureUI, 🔖Bookmark

#10 OnboardingVC 버튼 액션 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Sources/SceneDelegate.swift
  PPAK_CVS/Sources/Scenes/Home/HomeCoordinator.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingCoordinator.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingVC.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingViewModel.swift
Labels: 👟Onboarding

#19 All 이미지 수정
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/Frame 29.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/Frame 30.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/Frame 31.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all 1.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all 2.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/CVS_logo/logo_all.imageset/logo_all.png
Labels: ✨Enhancement

#18 ViewModel 구현 (by. ReactorKit)
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Configuration/Base/BaseViewController.swift
  PPAK_CVS/Configuration/Base/Coordinator.swift
  PPAK_CVS/Configuration/Base/ViewModel.swift
  PPAK_CVS/Configuration/Base/Viewable.swift
Labels: ✨Enhancement

#20 OnboardingVC Action 관련 리팩토링
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingVC.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingViewModel.swift
Labels: 👟Onboarding

#24 [ADD] 이벤트정보 response model추가
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Sources/Models/EventInfoResponseModel.swift
Labels: ✨Enhancement

#25 Fix/home scenes/Refactoring with ReactorKit
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS.xcodeproj/project.xcworkspace/xcuserdata/eungcheol.xcuserdatad/UserInterfaceState.xcuserstate
  PPAK_CVS/Configuration/Extensions/UIView+.swift
  PPAK_CVS/Sources/Scenes/Home/HomeCoordinator.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
Labels: 🏠Home

#26 Onboarding에 ReactorKit 적용
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingCoordinator.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingVC.swift
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingViewModel.swift
Labels: 👟Onboarding

#27 [Product] 공유 기능 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Info.plist
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductHeaderViewViewModel.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
Labels: 📱Product
