Repository S-FAM/PyeonHaeng, pull requests merged in 2023-01, with the labels that each got.

#57 Splash 화면 구현
  PPAK_CVS/Configuration/Assets/Assets.xcassets/AccentColor.colorset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/Splash/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/Splash/appLogo.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/Splash/appLogo.imageset/appLogo_1x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/Splash/appLogo.imageset/appLogo_2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/Splash/appLogo.imageset/appLogo_3x.png
  PPAK_CVS/Configuration/Base/Base.lproj/LaunchScreen.storyboard
  PPAK_CVS/Sources/AppDelegate.swift
Labels: ✨Enhancement

#58 Custom Font(Pretendard) 추가
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Black.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Bold.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-ExtraBold.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-ExtraLight.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Light.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Medium.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Regular.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-SemiBold.otf
  PPAK_CVS/Configuration/Assets/Fonts/Pretendard-Thin.otf
  PPAK_CVS/Configuration/Extensions/UIFont+.swift
  PPAK_CVS/Info.plist
Labels: ✨Enhancement

#59 Onboarding 화면 폰트 수정
  PPAK_CVS/Sources/Scenes/Onboarding/OnboardingVC.swift
Labels: 👟Onboarding

#56 SettingVC NavigationBar 세팅
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/SettingTableViewCell.swift
  PPAK_CVS/Sources/Scenes/Setting/SettingCoordinator.swift
  PPAK_CVS/Sources/Scenes/Setting/SettingVC.swift
  PPAK_CVS/Sources/Scenes/Setting/SettingViewModel.swift
Labels: ⚙️Setting

#60 Bookmark UI 업데이트
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkPopup.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
Labels: 🔖Bookmark

#61 세부 제품 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Configuration/Extensions/Int+.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCoordinator.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
  PPAK_CVS/Sources/Scenes/Product/ProductViewModel.swift
Labels: 📱Product

#62 Home Pagination 버그 수정
  PPAK_CVS/Sources/Scenes/Common/GoodsCell.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
Labels: 🏠Home

#65 [Product] Font, Image, Constraints 적용
  PPAK_CVS/Sources/Scenes/Home/HomeCoordinator.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
Labels: 🍎ConfigureUI, 📱Product

#69 HomeVC 에서 SettingVC로 가는 화면전환 구현
  PPAK_CVS/Sources/Scenes/Home/HomeCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Home/HomeCoordinator.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
Labels: ✨Enhancement, 🏠Home

#70 SettingCellType enum값 추가
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Configuration/Constants/Enum/SettingCellType.swift
  PPAK_CVS/SettingTableViewCell.swift
  PPAK_CVS/Sources/Scenes/Setting/SettingVC.swift
Labels: ⚙️Setting

#71 [Feat] Home,Bookmark Pretendard 폰트 적용 & 로고View width 수정
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkPopup.swift
  PPAK_CVS/Sources/Scenes/Common/EventControl.swift
  PPAK_CVS/Sources/Scenes/Common/GoodsCell.swift
  PPAK_CVS/Sources/Scenes/Common/SaleTypeView.swift
  PPAK_CVS/Sources/Scenes/Common/SortDropdownView.swift
  PPAK_CVS/Sources/Scenes/Common/TitleLogoView.swift
Labels: ✨Enhancement

#72 PopSwipeGesture 버그 해결
  PPAK_CVS/Configuration/Base/BaseViewController.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
Labels: 🐞Bug

#73 SettingVC - 리뷰기능 추가 및 테이블뷰 UI수정
  PPAK_CVS/Sources/Scenes/Setting/SettingConfig.swift
  PPAK_CVS/Sources/Scenes/Setting/SettingVC.swift
Labels: ⚙️Setting

#74 ProductVC UI 구현
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkVC.swift
  PPAK_CVS/Sources/Scenes/Common/GoodsCell.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
Labels: 📱Product

#75 BookmarkVC -> SettingVC 화면전환 구현
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkCoordinator.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkViewModel.swift
Labels: 🔖Bookmark

#76 편의점 타입 전체 동기화 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkViewModel.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
  PPAK_CVS/Sources/Storage/CVSStorage.swift
  PPAK_CVS/Sources/Storage/ProductStorage.swift
Labels: ✨Enhancement

#77 [CHORE] SettingVC - tableView trailing 수정
  PPAK_CVS/Sources/Scenes/Setting/SettingVC.swift
Labels: ⚙️Setting

#78 제품 기본 이미지 수정 및 적용
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/ic_noImage_large_1x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/ic_noImage_large_2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/ic_noImage_large_3x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/noImage_large_1x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/noImage_large_2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_large.imageset/noImage_large_3x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/Contents.json
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/ic_noImage_small_1x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/ic_noImage_small_2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/ic_noImage_small_3x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/noImage_small_1x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/noImage_small_2x.png
  PPAK_CVS/Configuration/Assets/Assets.xcassets/ic_noImage_small.imageset/noImage_small_3x.png
  PPAK_CVS/Sources/Scenes/Common/GoodsCell.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
Labels: ✨Enhancement

#79 빈공간 터치 시 드롭다운 및 키보드 숨김처리 구현
  PPAK_CVS.xcodeproj/project.pbxproj
  PPAK_CVS/.swiftlint.yml
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkVC.swift
  PPAK_CVS/Sources/Scenes/Bookmark/BookmarkViewModel.swift
  PPAK_CVS/Sources/Scenes/Common/GoodsCell.swift
  PPAK_CVS/Sources/Scenes/Home/HomeVC.swift
  PPAK_CVS/Sources/Scenes/Home/HomeViewModel.swift
  PPAK_CVS/Sources/Scenes/Product/ProductCollectionHeaderView.swift
  PPAK_CVS/Sources/Scenes/Product/ProductVC.swift
Labels: 🏠Home, 🔖Bookmark

#80 [CHORE] SettingVC - SeparateView 세팅
  PPAK_CVS/Sources/Scenes/Setting/SettingVC.swift
Labels: ⚙️Setting
